* {
  margin: 0;
  padding: 0;
}

a {

  text-decoration: none;
}

body {

  font-family: arial, sans-serif;
  font-size: 13px;
}

button {

  background-color: #F4F4F4;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
  color: rgba(117, 117, 117, 0.8);
  font-weight: 700;
  margin: 10px 5px;
  padding: 10px 18px;
}

footer {

  bottom: 8px; /* confirmar */
  width: 100%;
}

form {

  color: rgb(34, 34, 34);
  height: 118px; /* confirmar */
}

img {

  display: block;
  margin: 0 auto;
  padding-top: 109px; /* ver no fim */
}

input {

  display: block;
  width: 100%;
  margin: 20px auto;
  /* background-color: seagreen; */
  height: 38px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: 1px solid #E3E3E3;
  border-radius: 3px;
}


main {

  /* background-color: bisque; */
  height: 73vh; /* a confirmar */
  margin-top: 89px; /* confirmar no fim */
  
}

.flex-container-footer {

  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: red;
}

.flex-container-nav {

  display: flex;
  justify-content: flex-end;
  align-items: center;
  }

.flex-container-sec1 {

  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
}

.flex-container-sec2 {

  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.footer {

  background-color:  #F4F4F4;
  border-top: 1px solid rgb(219, 225, 233);
  color: rgb(119, 123, 129);
  padding-bottom: 10px;
  padding-top: 10px;
}

.lang {

  line-height: 28px;
  margin-top: 7px;
  text-align: center;
}

.buttons {

  text-align: center;
}

.main {

}

.material-icons {

  margin-top: 5px;
}

.nav-item {

  margin: 20px 10px;
  color: black;
}

.search {

  width: 600px;
  margin: 0 auto;
  position: relative;
}

#link-button {

  background-color: #4285F4;
  border-radius: 2px;
  color: white;
  font-weight: 700;
  margin-right: 25px;
  padding: 7px 12px;
}

.footer a {

  color: rgb(119, 123, 129);
  padding-left: 10px;
  padding-right: 10px;
}

.footer p {

  font-size: 15px;
  margin-left: 10px;
}

.search .fa-keyboard{

  position: absolute;
  top: 14px;
  left: 565px;
  font-size: 16px;
  color: #636363;
}